@model CodedenimWebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<body>
<div class="row">
<div class="col-md-6 col-lg-5 login-form mx-auto float-none">
    <div class="card">
        <div class="card-block">

            <!--Header-->
            <!--Header-->
            <div class="form-header">
                <h3><i class="fa fa-user"></i><a href="@Url.Action("CodeDenim","Home")">CodeDenim</a></h3>
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <h4 style="text-align: center">Enter your email.</h4>
                <hr/>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Email Link"/>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
