<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="~/Content/Css/mdb.css" rel="stylesheet">

    <!-- Customizer -->
    <link rel="stylesheet" href="~/Content/Css/customizer.min.css">

    <!-- Your custom styles (optional) -->
    <link href="~/Content/Css/style.css" rel="stylesheet">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        body{ color: black;}
    </style>
</head>
<body class="fixed-sn white-skin">

<!-- Customizer -->
<div id="customizer" class="z-depth-1">
    <div class="inner">
        <p class="text-center customizer-heading">Pick a skin color</p>
        <ul class="skins-list">
            <li><a href="#" data-skin-color="deep-purple-skin"><span class="color skin-deep-purple"></span></a></li>
            <li><a href="#" data-skin-color="navy-blue-skin"><span class="color skin-navy-blue"></span></a></li>
            <li><a href="#" data-skin-color="cyan-skin"><span class="color skin-cyan"></span></a></li>
            <li><a href="#" data-skin-color="pink-skin"><span class="color skin-pink"></span></a></li>
            <li><a href="#" data-skin-color="indigo-skin"><span class="color skin-indigo"></span></a></li>
            <li><a href="#" data-skin-color="light-blue-skin"><span class="color skin-light-blue"></span></a></li>
            <li><a href="#" data-skin-color="grey-skin"><span class="color skin-grey"></span></a></li>
            <li><a href="#" data-skin-color="white-skin"><span class="color skin-white"></span></a></li>
            <li><a href="#" data-skin-color="black-skin"><span class="color skin-black"></span></a></li>
            <li><a href="#" data-skin-color="mdb-skin"><span class="color skin-mdb"></span></a></li>
        </ul>
        <p class="text-center customizer-heading">SideNav Background Type</p>
        <form class="form-inline">
            <fieldset class="form-group">
                <input name="group1" type="radio" id="radio11" value="flat">
                <label for="radio11">Flat</label>
            </fieldset>

            <fieldset class="form-group">
                <input name="group1" type="radio" id="radio21" value="gradient">
                <label for="radio21">Gradient</label>
            </fieldset>

            <fieldset class="form-group">
                <input name="group1" type="radio" id="radio31" value="background" checked="checked">
                <label for="radio31">Image</label>
            </fieldset>
        </form>

        <div id="bg-option">
            <p class="text-center customizer-heading">Background Image</p>

            <div class="bg-img-preview">
                <label for="radio12"><img class="img-fluid" src="http://sidenav1-min.jpg" alt="Option 1"></label>
                <label for="radio22"><img class="img-fluid" src="http://sidenav2-min.jpg" alt="Option 2"></label>
                <label for="radio32"><img class="img-fluid" src="http://sidenav3-min.jpg" alt="Option 3"></label>
                <label for="radio42"><img class="img-fluid" src="http://sidenav4-min.jpg" alt="Option 4"></label>
            </div>

            <form class="form-inline bg-img-options">
                <fieldset class="form-group">
                    <input name="group2" type="radio" id="radio12" value="1" checked="checked">
                    <label for="radio12"></label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group2" type="radio" id="radio22" value="2">
                    <label for="radio22"></label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group2" type="radio" id="radio32" value="3">
                    <label for="radio32"></label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group2" type="radio" id="radio42" value="4">
                    <label for="radio42"></label>
                </fieldset>
            </form>

            <p class="text-center customizer-heading">Mask opacity</p>

            <form class="form-inline">
                <fieldset class="form-group">
                    <input name="group3" type="radio" id="radio13" value="strong" checked="checked">
                    <label for="radio13">Strong</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group3" type="radio" id="radio23" value="light">
                    <label for="radio23">Light</label>
                </fieldset>

                <fieldset class="form-group">
                    <input name="group3" type="radio" id="radio33" value="slight">
                    <label for="radio33">Slight</label>
                </fieldset>
            </form>
        </div>

        <div>
            <p class="text-center customizer-heading d-inline">Fixed sidenav</p>
            <div class="switch d-inline-block float-right">
                <label>
                    Off
                    <input type="checkbox" checked="checked">
                    <span class="lever"></span> On
                </label>
            </div>
        </div>      
    </div>
</div>
<!-- /.Customizer -->
<!--Double navigation-->
<header>
    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar" style="background-color: #093 !important;">
        <!-- Logo -->
        <li>
            <div class="user-box" style="background-color: #093 !important;">

                <img src="~/Content/img/Sebig.png" class="img-fluid rounded-circle">
                <p class="user text-center black-text"> Admin</p>
            </div>
        </li>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-code"></i>Codedenim<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="home.html" class="waves-effect">General</a>
                            </li>
                            <li>
                                <a href="home%20v2.html" class="waves-effect">Dahboard v2</a>
                            </li>
                            <li>
                                <a href="home%20v3.html" class="waves-effect">Dahboard v3</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="analytics.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i> Analytics</a>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-code"></i> Creators<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="modals.html" class="waves-effect">Modals</a>
                            </li>
                            <li>
                                <a href="page-create.html" class="waves-effect">Create Page</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-lock"></i> Forms<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="signup.html" class="waves-effect">Sign up</a>
                            </li>
                            <li>
                                <a href="signup%20v2.html" class="waves-effect">Sign up v2</a>
                            </li>
                            <li>
                                <a href="login.html" class="waves-effect">Login</a>
                            </li>
                            <li>
                                <a href="editaccount.html" class="waves-effect">Edit Account</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-bar-chart"></i> SEO<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="seo-overview.html" class="waves-effect">Overview</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="clients.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-users"></i> Clients</a>
                <li><a href="invoice.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-money"></i> Invoice</a>
                <li><a href="support.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-support"></i> Support</a>
                <li><a href="faq.html" class="collapsible-header waves-effect arrow-r"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a>
            </ul>
        </li>
        <!--/. Side navigation links -->
        <div class="sidenav-bg mask-strong"></div>
    </ul>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav" style="background-color: #093;">

        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>

        </div>

        <!-- Breadcrumb-->
        <ol class="breadcrumb hidden-lg-down">
            <li class="breadcrumb-item active">
                <img src="~/Content/img/CodeDemin.png" height="50" width="50"/><a href="@Url.Action("GeneralDashboard","Home")"><b style="color: #ffffff;font-weight:600">CODE-DENIM</b></a></li>
        </ol>
        <!--Navbar links-->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">

            <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-graduation-cap">&nbsp;&nbsp;</i>Courses <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Index","Courses")">My Courses</a></li><hr />
                    <li><a href="@Url.Action("Index","CourseCategories")">Categories</a></li><hr />
                    <li><a href="@Url.Action("Index","Topics")">Topics</a></li><hr />
                    <li><a href="@Url.Action("Index","TopicMaterialUploads")">Topics Materials</a></li><hr />
                </ul>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="nav-item">
                <span><i class="fa fa-book">&nbsp;&nbsp;</i>@Html.ActionLink("Modules","Index","Modules")</span>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp; 
            

            <li class="nav-item">
                <span><i class="fa fa-user">&nbsp;&nbsp;</i>@Html.ActionLink("Tutor", "Index", "Tutors")</span>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp; 
        </ul>
        <!--/Navbar links-->

    </nav>
    <!-- /.Navbar -->

</header>
<!--/.Double navigation-->

@RenderBody()

<!-- SCRIPTS -->

<!-- JQuery -->
<script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    
<!-- Bootstrap core JavaScript -->
   <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/Scripts/tether.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="~/Scripts/mdb.min.js"></script>
    
<!-- Customizer -->
<script type="text/javascript" src="~/Scripts/customizer.min.js"></script>

<script>
    $(function() {
        var data = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(0,0,0,.15)",
                data: [65, 59, 80, 81, 56, 55, 40],
                backgroundColor: "#4CAF50"
            }, {
                label: "My Second dataset",
                fillColor: "rgba(255,255,255,.25)",
                strokeColor: "rgba(255,255,255,.75)",
                pointColor: "#fff",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(0,0,0,.15)",
                data: [28, 48, 40, 19, 86, 27, 90]
            }]
        };


        var dataPie = [{
            value: 300,
            color: "#F7464A",
            highlight: "#FF5A5E",
            label: "Red"
        }, {
            value: 50,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "Green"
        }, {
            value: 100,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "Yellow"
        }]

        var option = {
            responsive: true,
            // set font color
            scaleFontColor: "#fff",
            // font family
            defaultFontFamily: "'Roboto', sans-serif",
            // background grid lines color
            scaleGridLineColor: "rgba(255,255,255,.1)",
            // hide vertical lines
            scaleShowVerticalLines: false,
        };

        // Get the context of the canvas element we want to select
        var ctx = document.getElementById("sales").getContext('2d');
        var myLineChart = new Chart(ctx).Line(data, option); //'Line' defines type of the chart.
    });
</script>

<script>
    $(function() {
        $('.min-chart#chart-sales').easyPieChart({
            barColor: "#4caf50",
            onStep: function(from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent));
            }
        });
    });
</script>  

<script>
    // Data Picker Initialization
    $('.datepicker').pickadate();


    // Material Select Initialization
    $(document).ready(function() {
        $('.mdb-select').material_select();
    });

    // Sidenav Initialization
    $(".button-collapse").sideNav();

    // Tooltips Initialization
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
        $('#toggle').tooltip('show');
    })
</script>

