@model IEnumerable<CodeninModel.Module>

@{
    ViewBag.Title = "Modules";
    ViewBag.Modules = "class = active";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-fluid" style="margin-left: 13%">

    <h2>MODULES</h2>
    <br />
    

    @using (Html.BeginForm("ExcelUpload", "Modules", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input class="form-control" type="file" id="File" name="excelfile" class="btn btn-default btn-md" />

        <input type="submit" value="submit">

    }


    

    <p>
        @Html.ActionLink("CREATE MODULE", "Create", null, new { @class = "my-class" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ModuleId }, new { @class = "my-class; btn" })
                    @Html.ActionLink("Details", "Details", new { id = item.ModuleId }, new { @class = "my-class; btn" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ModuleId }, new { @class = "my-class; btn" })
                </td>
            </tr>}

    </table>
</div>

