

@using CodedenimWebApp.Service
@using CodeninModel
@*@model CodeninModel.TopicMaterialUpload*@
@model CodedenimWebApp.ViewModels.CourseContentVm
@{


}



<div class="row panel panel-default">



    <div class="col-xs-12 col-md-8 ">
        @if (@Model.Material != null)
    {
        if (@Model.Material.FileType == FileType.MP4)
        {
            <div style="text-align: center">
                <button onclick="playPause()" class="btn btn-primary">Play/Pause</button>
                <button onclick="makeBig()" class="btn btn-primary">Big</button>
                <button onclick="makeSmall()" class="btn btn-primary">Small</button>
                <button onclick="makeNormal()" class="btn btn-primary">Normal</button>
                <br><br>

                <video controls="controls" id="video1" width="420">
                    <source src="~/MaterialUpload/@Model.Material.FileLocation" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
            </div>
    }
    else if (@Model.Material.FileType == FileType.PDF)
    {
        @*<iframe src="@BlobService.BlobUri/@Model.Material.FileLocation" style="width: 500px; height:500px; border: none;" type="application/pdf"> </iframe>*@
        <iframe src="~/MaterialUpload/@Model.Material.FileLocation" style="width: 500px; height:500px; border: none;" type="application/pdf"> </iframe>





}
else if (@Model.Material.FileType == FileType.Audio)
{

    <audio controls="controls" id="video1" width="420">
        <source src="~/MaterialUpload/@Model.Material.FileLocation" type="audio/mpeg">

    </audio>

}
}
    </div>

    @*<div class="col-xs-6 col-md-4 ">
        <h4>Topic Material Upload</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt class="label label-default">
                @Html.DisplayNameFor(model => content.Course.TopicName)
            </dt>

            <dd>
                @Html.DisplayFor(model => content.Course.TopicName)
            </dd>
            <hr/>
            <dt class="label label-default">
                @Html.DisplayNameFor(model => content.Tutor)
            </dt>

            <dd>
                @Html.DisplayFor(model => content.Tutor)
            </dd>
            <hr/>
            <dt class="label label-default">
                @Html.DisplayNameFor(model => content.FileType)
            </dt>

            <dd>
                @Html.DisplayFor(model => content.FileType)
            </dd>
            <hr/>
            <dt class="label label-default">
                @Html.DisplayNameFor(model => content.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => content.Name)
            </dd>





        </dl>
    </div>*@

    
</div>

<script>

    var myVideo = document.getElementById("video1");

    function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }

    function makeBig() {
        myVideo.width = 560;
    }

    function makeSmall() {
        myVideo.width = 320;
    }

    function makeNormal() {
        myVideo.width = 420;
    }
</script>
