@model IEnumerable<CodeninModel.CourseCategory>
@{
    ViewBag.Title = "Category";
    ViewBag.Category = "class = active";
    Layout = "~/Views/Shared/_LayoutBoard.cshtml";
}


<div class="container-fluid">
    <h2>COURSE CATEGORIES</h2>
    <br />
    <p>
        @Html.ActionLink("CREATE CATEGORIES", "Create", null, new { @class = "my-class; btn" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseCategoryId }, new { @class = "my-class; btn" })
                    @Html.ActionLink("Details", "Details", new { id = item.CourseCategoryId }, new { @class = "my-class; btn" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseCategoryId }, new { @class = "my-class; btn" })
                </td>
            </tr>}

    </table>
</div>
   
