@model IEnumerable<CodeninModel.CourseCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<h2>Index</h2>
    
    Excel upload
    @using (Html.BeginForm("ExcelUpload", "CourseCategories", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        <input class="form-control" type="file" id="File" name="excelfile" class="btn btn-default btn-md" />

        <input type="submit" value="submit">
  
    }

    <p>
    @Html.ActionLink("Create New", "Create")
</p>



<h4 class="page-section-heading"> Course Categories</h4>
<div class="panel panel-default">
    <!-- Progress table -->
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
            <tr>
                <th width="20">
                    <div class="checkbox checkbox-single margin-none">
                        <input id="checkAll" data-toggle="check-all" data-target="#responsive-table-body" type="checkbox" checked>
                        <label for="checkAll">Check All</label>
                    </div>
                </th>
                <th>Category Name</th>
                <th>Amount</th>
                <th>Student Type</th>
           

                <th class="text-right">Action</th>
            </tr>
            </thead>
            <tbody id="responsive-table-body">
            @foreach (var item in Model)
            {
                 
                <tr>

                <td>
                    <div class="checkbox checkbox-single">
                        <input id="checkbox1" type="checkbox" checked>
                        <label for="checkbox1">Label</label>
                    </div>
                </td>
                <td><span class="label label-default">@item.CategoryName</span></td>
                <td><i class="fa fa-money">@item.Amount</i></td>

                <td>
                    <i class="fa fa-user"></i> @item.StudentType
                </td>

                <td class="text-right">
                    <a href="@Url.Action("Edit", "CourseCategories", new {id = @item.CourseCategoryId})" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="@Url.Action("Delete", "CourseCategories", new {id = @item.CourseCategoryId})" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                                                                                                                                                                       class="fa fa-times"></i></a>
                </td>
             
            </tr>
            }
            </tbody>    
        </table>
    </div>
    <!-- // Progress table -->
    <div class="panel-footer padding-none text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>