@{
    ViewBag.Title = "Administrator";
    ViewBag.Role = "ADMIN";
    ViewBag.Administrator = "class = active";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<br/>

<div class="container-fluid">
  
    <div class="row" style="background-color: #ffffff; border: 1px solid #e2e9e6; margin-right: 20%" data-toggle="gridalicious">
        
        <br/>
        
        @*<div class="row" data-toggle="gridalicious">*@
            <div class="media">
                <div class="media-left padding-none">
                    <div class="bg-green-300 text-white">
                        <div class="panel-body">
                            <i class="fa fa-book fa-2x fa-fw"></i>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-headline">COURSES</div>
                            @if (ViewBag.TotalCourss != null)
                            {
                                <h3 @ViewBag.TotalCourses+></h3>
                            }
                            else
                            {
                                <h6>No Course yet</h6>
                            }
                        


                        </div>
                    </div>
                </div>
            </div>
            
            @*<div class="col-lg-3 col-sm-6">
                <div class="card mycard">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="numbers">

                                    <p> <i class="fa fa-book fa-1x"></i><span> &nbsp;<b>COURSES</b></span></p>&nbsp;&nbsp;
                                    @ViewBag.TotalCourses+
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@
        
        
            <div class="media">
                <div class="media-left padding-none">
                    <div class="bg-purple-300 text-white">
                        <div class="panel-body">
                            <i class="fa fa-users fa-2x fa-fw"></i>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-headline">STUDENTS</div>
                            @if (ViewBag.TotalStudent != null)
                            {
                                @ViewBag.TotalStudents 
                            }
                            else
                            {
                                <h6>No Student Yet</h6>  
                            }
                            @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut culpa fugiat iusto, molestias nemo nostrum quia rerum temporibus voluptatum.</p>*@
                        </div>
                    </div>
                </div>
            </div>

        @*<div class="col-lg-3 col-sm-6">
            <div class="card mycard">
                <div class="content">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="numbers">
                                <p><i class="fa fa-pencil fa-1x"></i><span> &nbsp;<b>TOPICS</b></span>
                                </p>&nbsp;&nbsp;
                                @ViewBag.TotalTopics
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@
        
        <div class="media">
            <div class="media-left padding-none">
                <div class="bg-orange-400 text-white">
                    <div class="panel-body">
                        <i class="fa fa-user fa-2x fa-fw"></i>
                    </div>
                </div>
            </div>
            <div class="media-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-headline">TUTORS</div>
                        @if (ViewBag.TotalTutors != null)
                        {
                            @ViewBag.TotalTutors
                        }
                        else
                        {
                            <h6>No Tutors yet</h6>
                        }

                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-lg-3 col-sm-6">
                <div class="card mycard">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="numbers">
                                    <p><i class="fa fa-user fa-1x"></i><span> &nbsp;<b>STUDENTS</b></span>
                                    </p>&nbsp;&nbsp;
                                    @ViewBag.TotalStudents+
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@
            @*<div class="col-lg-3 col-sm-6">
                <div class="card mycard">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="numbers">
                                    <p><i class="fa fa-users fa-1x"></i><span> &nbsp;<b>TUTORS</b></span>
                                    </p>&nbsp;&nbsp;
                                    @ViewBag.TotalTutors +
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>*@
        </div>
    @*</div>*@
       

    </div>

<h4 class="page-section-heading">Student Types</h4>
<div class="table-pricing-3">
    <ul class="list-unstyled row">
        <li class="col-md-4">
            <div class="innerAll">
                <h3>Corper</h3>
                <div class="pricing-body">
                    <div class="price" >
                        <img src="~/Content/img/NYSC.jpg" width="120" class="img-circle"/>
                    </div>
                </div>
                <div class="pricing-features">
                 Number of Corpers
                </div>
                <div class="pricing-footer">
                    <a href="@Url.Action("ListCorper","Home")" class="btn btn-success">View Student</a>
                </div>
            </div>
        </li>
        <li class="col-md-4 active">
            <div class="innerAll">
                <h3>UnderGraduate Students</h3>
                <div class="pricing-body">
                    <div class="price">
                        <img src="~/Content/img/Student.jpg"  width="180" class="img-circle"/>
                    </div>
                </div>
                <div class="pricing-features">
             Number of UnderGraduate Students
                </div>
                <div class="pricing-footer">
                    <a href="@Url.Action("ListUnderGrad","Home")" class="btn btn-success">VIEW STUDENTS</a>
                </div>
            </div>
        </li>
        <li class="col-md-4">
            <div class="innerAll">
                <h3>Other Students</h3>
                <div class="pricing-body">
                    <div class="price">
                        <img src="~/Content/img/UnderG.jpg" width="180" class="img-circle" />
                       
                    </div>
                </div>
                <div class="pricing-features">
                 Number of other students
                </div>
                <div class="pricing-footer">
                    <a href="@Url.Action("OtherStudent","Home")" class="btn btn-success">VIEW STUDENTS</a>
                </div>
            </div>
        </li>
    </ul>
</div>



    


               

