@{
    ViewBag.Title = "Administrator";
    ViewBag.Role = "ADMIN";
    ViewBag.Administrator = "class = active";
    Layout = "~/Views/Shared/_LayoutBoard.cshtml";
}


<div class="container-fluid" style="margin-left: 14%">
  
        <div class="row" style="background-color:#ffffff;border:1px solid #e2e9e6; margin-right:20%">
            <br />
            <div class="col-lg-3 col-sm-6">
                <div class="card mycard">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="numbers">

                                    <p> <i class="fa fa-book fa-1x"></i><span> &nbsp;<b>COURSES</b></span></p>&nbsp;&nbsp;
                                    @ViewBag.TotalCourses+
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card mycard">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="numbers">
                                    <p><i class="fa fa-pencil fa-1x"></i><span> &nbsp;<b>TOPICS</b></span></p>&nbsp;&nbsp;
                                    @ViewBag.TotalTopics
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card mycard">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="numbers">
                                    <p><i class="fa fa-user fa-1x"></i><span> &nbsp;<b>STUDENTS</b></span></p>&nbsp;&nbsp;
                                    @ViewBag.TotalStudents+
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card mycard">
                    <div class="content">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="numbers">
                                    <p><i class="fa fa-users fa-1x"></i><span> &nbsp;<b>TUTORS</b></span></p>&nbsp;&nbsp;
                                    @ViewBag.TotalTutors +
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom:60px; padding-top:35px; clear: both;margin-right: 15%">
            <div class="col-lg-12 col-sm-12">

                <div class="row">
                    <div class="col-lg-3 col-sm-3" style="margin-bottom:20px">
                        <div style="box-shadow:0px 0px 1px #000">
                            <div class="" style="padding-bottom:10px; padding-top:10px; text-align:center;background-color:#38a829;"><h2 style="margin:0px;color:aliceblue"><b>COURSES</b></h2></div>
                            <div class=""><a href="@Url.Action("Index","Courses")"><img src="~/Content/img/courses.png" width="300" height="200" /></a></div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3" style="margin-bottom:20px">
                        <div style="box-shadow:0px 0px 1px #000">
                            <div class="" style="padding-bottom:10px; padding-top:10px; text-align:center;background-color:#38a829;"><h2 style="margin:0px;color:aliceblue"><b>TOPICS</b></h2></div><br />
                            <div class=""><a href="@Url.Action("Index","Topics")"><img src="~/Content/img/Topics.png" width="250" height="180" /></a></div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3" style="margin-bottom:20px">
                        <div style="box-shadow:0px 0px 1px #000">
                            <div class="" style="padding-bottom:10px; padding-top:10px; text-align:center;background-color:#38a829;"><h2 style="margin:0px;color:aliceblue"><b>STUDENTS</b></h2></div><br />
                            <div class=""><a href="@Url.Action("Index","Students")"><img src="~/Content/img/student.jpg" width="255" height="180" /></a></div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3" style="margin-bottom:20px">
                        <div style="box-shadow:0px 0px 1px #000">
                            <div class="" style="padding-bottom:10px; padding-top:10px; text-align:center;background-color:#38a829;"><h2 style="margin:0px;color:aliceblue"><b>TUTORS</b></h2></div><br />
                            <div class=""><a href="@Url.Action("Index","Tutors")"><img src="~/Content/img/Tutor.jpg" height="180" width="250" /></a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>






                 @*<div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Our Video Intro</h4>
                    <p class="category">24 Hours Tutorials</p>
                </div>
                <div class="content">
                    <div id="chartHours">
                        <video height="550" width="1000" poster="" controls="controls">
                            <source src="~/Content/Videos/Beach-Ball.mp4" type="video/mp4" media="all" />
                        </video>
                    </div>
                </div>
                <div class="footer">
                    <div class="chart-legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Click
                        <i class="fa fa-circle text-warning"></i> Click Second Time
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="ti-reload"></i> Updated 3 minutes ago
                    </div>
                </div>46
            </div>
        </div>
    </div>*@   
                



               

