@using CodedenimWebApp.Models
@model IEnumerable<CodeninModel.Course>

@{
    ViewBag.Title = "Courses";
    ViewBag.Courses = "class = active";
    //if (Roles.IsUserInRole(RoleName.Admin))
    //{
    Layout = "~/Views/Shared/_LayoutBoard.cshtml";
    //}
    //if (Roles.IsUserInRole(RoleName.Tutor))
    //{
    //    Layout = "~/Views/Shared/_LayoutTutor.cshtml";
    //}
    //else
    //{
    //    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    //}

}
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />


<div class="st-container"> 
    <h2>Courses</h2>

    @*<p>
        @Html.ActionLink("ADD COURSE","Create", null, new{@class = "my-class; btn"})
    </p>
    <br/>
    @using (Html.BeginForm())
    {
        <p>
            Select Department: @Html.DropDownList("SelectedCategory", "All")
            <input type="submit" value="Filter" />
        </p>
    }

    <table id="courses" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseCategory.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseCategory.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }, new{@class = "my-class; btn"})@Html.ActionLink("Details", "Details", new { id=item.CourseId },new { @class = "my-class; btn" })
                    @Html.ActionLink("Delete", "Delete", new { id=item.CourseId }, new { @class = "my-class; btn" })
                </td>
            </tr>
        }

    </table>*@
    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-url="@Url.Action("CreateCoursePartial","Courses")" id="btnCreateAsset">  
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Create Course 
    </button> 
    <br /><br />
    <div class="table container" style="width: 99%; margin: 0 auto">
    <table id="Jdatatable" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Category Name</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Expected Time</th>
            <th>Date Added</th>
            <th>Points</th>
            <th>Action</th>

        </tr>
        </thead>
    </table>
    </div> 
    <div class="modal fade" id="createAssetModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">

        <div id="createAssetContainer">

        </div>

    </div>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/Courses/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                
                //{ "data": "CourseCategoryId", "autoWidth": true },
                { "data": "CourseCode", "autoWidth": true },
                { "data": "CourseName", "autoWidth": true },
                { "data": "CourseDescription", "autoWidth": true },
                { "data": "ExpectedTime", "autoWidth": true },
                { "data": "DateAdded", "autoWidth": true },
                { "data": "Points", "autoWidth": true },

                {
                    "data": "CourseCategoryId",
                    "autoWidth": true,
                    "render": function (data) {
                        return '<a href="#" onclick="Edit(' + data + ')" ><i class="fa fa-pencil" aria-hidden="true" ><i/></a>' +
                            '<a class="text-danger" href="#" onclick="Delete(' + data + ')" ><i class="fa fa-remove" aria-hidden="true" ><i/></a>';
                    }
                }
            
            ]
        });

        // });


        $("#btnCreateAsset").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createAssetContainer').html(data);

                $('#createAssetModal').modal('show');
            });

        });
    </script>
    </div>
