@model IEnumerable<CodeninModel.Course>

@{
    ViewBag.Title = "Courses";
    ViewBag.Courses = "class = active";
    Layout = "~/Views/Shared/_LayoutBoard.cshtml";
}

    <div class="container-fluid">
        <h2>Courses</h2>

        <p>
            @Html.ActionLink("CREATE COURSES", "Create", null, new { @class = "my-class" })
        </p>
        <br/>
        @using (Html.BeginForm())
        {
            <p>
                Select Department: @Html.DropDownList("SelectedCategory", "All")
                <input type="submit" value="Filter" />
            </p>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseCategory.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpectedTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseCategory.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Points)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }, new{@class = "my-class"}) | @Html.ActionLink("Details", "Details", new { id=item.CourseId },new { @class = "my-class" }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.CourseId }, new { @class = "my-class" })
                    </td>
                </tr>
            }

        </table>
    </div>
