    @model CodedenimWebApp.ViewModels.DashboardVm
@{
    ViewBag.Title = "Corper Dashboard";
    Layout = "~/Views/Shared/_LayoutBoard.cshtml";

   
}

@*
 
<div class="st-content">
    <!-- extra div for emulating position:fixed of the menu -->
    <div class="st-content-inner padding-none">
        <div class="container-fluid">
            <div class="page-section third">


                <div class="row">
                    <div class="col-md-10">

                       <div class="row" data-toggle="isotope">

                                @foreach (var item in Model)
                                {



                                    <div class="item col-xs-12 col-sm-6 col-lg-4">
                                        <div class="panel panel-default paper-shadow" data-z="0.5">
                                            <div class="panel-heading">
                                                <div class="media media-clearfix-xs-min v-middle">
                                                    <div class="media-body text-caption text-light">
                                                        Lessons 1 of 10
                                                    </div>
                                                    <div class="media-right">
                                                        <div class="progress progress-mini width-100 margin-none">
                                                            <div class="progress-bar progress-bar-grey-600" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cover overlay cover-image-full hover">
                                                <span class="img icon-block height-100 bg-default"></span>
                                                <a href="@Url.Action("Content","Courses")" class="padding-none overlay overlay-full icon-block bg-default">
                                                    <span class="v-center">
                                                        <img src="@Url.Content("~/MaterialUpload/" + item.FileLocation)" style="width: 160px; height: 170px;" />
                                                    </span>
                                                </a>
                                                <a href="#" class="overlay overlay-full overlay-hover overlay-bg-white">
                                                    <span class="v-center">
                                                        <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="panel-body">
                                                <h4 class="text-headline margin-v-0-10"><a href="@Url.Action("Content","Courses", new {id = item.CourseId})">@Html.DisplayFor(modelItem => item.CourseName)</a></h4>
                                            </div>
                                            <hr class="margin-none"/>
                                            <div class="panel-body">
                                                <a href="@Url.Action("Content","Courses", new {id = item.CourseId})">Go to Courses</a>
                                                @*<a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="@Url.Action("Content","Courses")">Go to course</a>
                                            </div>
                                        </div>
                                    </div>

                                }





                            </div
                        </div >

                    </div>
                </div >
            </div >

        </div>
    </div>>*@


@* ////////////////////////////////////////////// *@
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />

 
<div class="container">
<div class="page-section">
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="media v-middle">
                <div class="media-left">
                    <div class="bg-green-400 text-white">
                        <div class="panel-body">
                            <i class="fa fa-file-video-o fa-fw fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    Continue watching
                </div>
                <div class="media-right media-padding">
                    <a class="btn btn-white paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated href="#">
                        Watch Now
                    </a>
                </div>
            </div>
        </div>
        <div class="row" data-toggle="isotope" style="position: relative; height: 515.533px;">
            <div class="item col-xs-12 col-sm-6 col-lg-4" style="position: absolute; left: 0px; top: 0px;">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="cover overlay cover-image-full hover" style="height: 150px;">
                        <span class="img icon-block height-150 bg-purple"></span>
                        <a href="app-student-course.html" class="padding-none overlay overlay-full icon-block bg-purple" style="height: 150px;">
                            <span class="v-center">
                                <i class="fa fa-jsfiddle"></i>
                            </span>
                        </a>
                        <a href="app-student-course.html" class="overlay overlay-full overlay-hover overlay-bg-white" style="height: 150px;">
                            <span class="v-center">
                                <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                            </span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <h5 class="text-headline margin-v-0-10"><a href="app-instructor-course-edit-course.html">Browserify: Writing Modular JavaScript</a></h5>
                    </div>
                    <hr class="margin-none">
                    <div class="panel-body">
                        <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated="" href="#"><i class="fa fa-fw fa-angle-up"></i> 35% completed</a>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 35%"><span class="sr-only">35% Complete (success)</span></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-12 col-sm-6 col-lg-4" style="position: absolute; left: 359px; top: 0px;">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="cover overlay cover-image-full hover" style="height: 150px;">
                        <span class="img icon-block height-150 bg-primary"></span>
                        <a href="app-instructor-course-edit-course.html" class="padding-none overlay overlay-full icon-block bg-primary" style="height: 150px;">
                            <span class="v-center">
                                <i class="fa fa-css3"></i>
                            </span>
                        </a>
                        <a href="app-instructor-course-edit-course.html" class="overlay overlay-full overlay-hover overlay-bg-white" style="height: 150px;">
                            <span class="v-center">
                                <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                            </span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <h5 class="text-headline margin-v-0-10"><a href="app-instructor-course-edit-course.html">Awesome CSS with LESS Processing</a></h5>
                    </div>
                    <hr class="margin-none">
                    <div class="panel-body">
                        <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated="" href="#"><i class="fa fa-fw fa-angle-up"></i>50% completed</a>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 50%"><span class="sr-only">50% Complete (success)</span></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-12 col-sm-6 col-lg-4" style="position: absolute; left: 719px; top: 0px;">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="cover overlay cover-image-full hover" style="height: 150px;">
                        <span class="img icon-block height-150 bg-lightred"></span>
                        <a href="app-instructor-course-edit-course.html" class="padding-none overlay overlay-full icon-block bg-lightred" style="height: 150px;">
                            <span class="v-center">
                                <i class="fa fa-windows"></i>
                            </span>
                        </a>
                        <a href="app-instructor-course-edit-course.html" class="overlay overlay-full overlay-hover overlay-bg-white" style="height: 150px;">
                            <span class="v-center">
                                <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                            </span>
                        </a>
                    </div>
                    <div class="panel-body">
                        <h5 class="text-headline margin-v-0-10"><a href="app-instructor-course-edit-course.html">Vagrant Portable Environments</a></h5>
                    </div>
                    <hr class="margin-none">
                    <div class="panel-body">
                        <a class="btn btn-white btn-flat paper-shadow relative" data-z="0" data-hover-z="1" data-animated="" href="#"><i class="fa fa-fw fa-angle-up"></i>100% completed</a>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 100%"><span class="sr-only">100% Complete (success)</span></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-12 col-sm-6 col-lg-4" style="position: absolute; left: 0px; top: 345px;">
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="cover overlay cover-image-full hover" style="height: 150px;">
                        <span class="img icon-block height-150 bg-grey-200"></span>
                        <a href="app-instructor-course-edit-course.html" class="padding-none overlay overlay-full icon-block bg-grey-200" style="height: 150px;">
                            <span class="v-center">
                                <i class="fa fa-plus text-grey-600"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">BROWSE CATEGORIES</h4>
            </div>
            <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                    <li class="list-group-item">
                        <div class="panel panel-default" data-toggle="panel-collapse" data-open="false">
                            <div class="panel-heading panel-collapse-trigger">
                                <h4 class="panel-title upper-title">Business</h4>
                            </div>
                            <div class="panel-body list-group">
                                <ul class="list-group list-group-menu">
                                    <li class="list-group-item"><a class="link-text-color" href="#">course1</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course2</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course3</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course4</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#"><span>course5</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                    <li class="list-group-item">
                        <div class="panel panel-default" data-toggle="panel-collapse" data-open="false">
                            <div class="panel-heading panel-collapse-trigger">
                                <h4 class="panel-title upper-title">Marketing</h4>
                            </div>
                            <div class="panel-body list-group">
                                <ul class="list-group list-group-menu">
                                    <li class="list-group-item"><a class="link-text-color" href="#">course1</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course2</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course3</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course4</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#"><span>course5</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                    <li class="list-group-item">
                        <div class="panel panel-default" data-toggle="panel-collapse" data-open="false">
                            <div class="panel-heading panel-collapse-trigger">
                                <h4 class="panel-title upper-title">Design</h4>
                            </div>
                            <div class="panel-body list-group">
                                <ul class="list-group list-group-menu">
                                    <li class="list-group-item"><a class="link-text-color" href="#">course1</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course2</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course3</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course4</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#"><span>course5</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                    <li class="list-group-item">
                        <div class="panel panel-default" data-toggle="panel-collapse" data-open="false">
                            <div class="panel-heading panel-collapse-trigger">
                                <h4 class="panel-title upper-title">IT & Software</h4>
                            </div>
                            <div class="panel-body list-group">
                                <ul class="list-group list-group-menu">
                                    <li class="list-group-item"><a class="link-text-color" href="#">course1</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course2</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course3</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course4</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#"><span>course5</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                    <li class="list-group-item">
                        <div class="panel panel-default" data-toggle="panel-collapse" data-open="false">
                            <div class="panel-heading panel-collapse-trigger">
                                <h4 class="panel-title upper-title">Photography</h4>
                            </div>
                            <div class="panel-body list-group">
                                <ul class="list-group list-group-menu">
                                    <li class="list-group-item"><a class="link-text-color" href="#">course1</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course2</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course3</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course4</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#"><span>course5</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-body list-group">
                <ul class="list-group list-group-menu">
                    <li class="list-group-item">
                        <div class="panel panel-default" data-toggle="panel-collapse" data-open="false">
                            <div class="panel-heading panel-collapse-trigger">
                                <h4 class="panel-title upper-title">Maths & Science</h4>
                            </div>
                            <div class="panel-body list-group">
                                <ul class="list-group list-group-menu">
                                    <li class="list-group-item"><a class="link-text-color" href="#">course1</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course2</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course3</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">course4</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#"><span>course5</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <h4>New Courses</h4>
        <div class="slick-basic slick-slider" data-items="1" data-items-lg="1" data-items-md="1" data-items-sm="1" data-items-xs="1">
            <div class="item">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                                    <span class="img icon-block s90 bg-default"></span>
                                    <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                                        <span class="v-center">
                                            <i class="fa fa-github"></i>
                                        </span>
                                    </span>
                                    <a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading margin-v-5-3"><a href="website-course.html">Github Webhooks for Beginners</a></h4>
                                <p class="small margin-none">
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                                    <span class="img icon-block s90 bg-primary"></span>
                                    <span class="overlay overlay-full padding-none icon-block s90 bg-primary">
                                        <span class="v-center">
                                            <i class="fa fa-css3"></i>
                                        </span>
                                    </span>
                                    <a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                            <span class="btn btn-circle btn-primary btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading margin-v-5-3"><a href="website-course.html">Awesome CSS with LESS Processing</a></h4>
                                <p class="small margin-none">
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                                    <span class="img icon-block s90 bg-lightred"></span>
                                    <span class="overlay overlay-full padding-none icon-block s90 bg-lightred">
                                        <span class="v-center">
                                            <i class="fa fa-windows"></i>
                                        </span>
                                    </span>
                                    <a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                            <span class="btn btn-circle btn-red-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading margin-v-5-3"><a href="website-course.html">Portable Environments with Vagrant</a></h4>
                                <p class="small margin-none">
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                                    <span class="img icon-block s90 bg-brown"></span>
                                    <span class="overlay overlay-full padding-none icon-block s90 bg-brown">
                                        <span class="v-center">
                                            <i class="fa fa-wordpress"></i>
                                        </span>
                                    </span>
                                    <a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                            <span class="btn btn-circle btn-orange-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading margin-v-5-3"><a href="website-course.html">WordPress Theme Development</a></h4>
                                <p class="small margin-none">
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                                    <span class="img icon-block s90 bg-purple"></span>
                                    <span class="overlay overlay-full padding-none icon-block s90 bg-purple">
                                        <span class="v-center">
                                            <i class="fa fa-jsfiddle"></i>
                                        </span>
                                    </span>
                                    <a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                            <span class="btn btn-circle btn-purple-500 btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading margin-v-5-3"><a href="website-course.html">Modular JavaScript with Browserify</a></h4>
                                <p class="small margin-none">
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                                    <span class="img icon-block s90 bg-default"></span>
                                    <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                                        <span class="v-center">
                                            <i class="fa fa-cc-visa"></i>
                                        </span>
                                    </span>
                                    <a href="website-course.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading margin-v-5-3"><a href="website-course.html">Easy Online Payments with Stripe</a></h4>
                                <p class="small margin-none">
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
